@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("images/yuuhi.png");
    background-size: cover;
    height: 100%;
}

#wrap {
    width: 1080px;
    margin: auto;
}

/* Header */
header {
    /* background: #EEE; */
    position: relative;
}

header h1 {
    /* text-align: center; */
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 1rem;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

nav {
    position: absolute;
    top: 2rem;
    right: 1rem;
}

nav ul {
    padding-bottom: 1rem;
    margin: 0;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
}

nav ul li {
    /* display: inline-block; */
    margin: 0 10px;
}

nav ul li a {
    font-weight: bold;
    color: #333;
}

/* Main */
main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

section {
    padding: 100px;
    text-align:center;
}

/* Footer */
footer {
    background: #333;
    color: #FFF;
    text-align: center;
    padding: 1rem;
    /* width: 100%; */
}